In [ ]:
'''Pyhon is an interpreted high-level general purpose programming language
created by Gudi Van Rossum , first appeared on feburary 1991

In [1]:
print("Hello world")

Hello world

In [2]:
if 5>2:
    print("5 is greater than 2")
else:
    print("2 is greater than 5")

5 is greater than 2

In [3]:
x=5
y=10
z="hell i am Rohan"
print(x,y,z)

5 10 hell i am Rohan

In [4]:
# - this is a single line comment and we can write only one line in this without interrupting the program
""" - This is a 
     multi line comment,
     we can write multiple lines without interrupting
     the program in the platofrm
"""

' - This is a \n     multi line comment,\n     we can write multiple lines without interrupting\n     the program in the platofrm\n'

In [5]:
# Casting
x=str(3)
y=int(3)
z=float(3)
print(x,y,z)

3 3 3.0

In [6]:
#getting the data type of a variable
print(type(x))
print(type(y))
print(type(z))
print("This is called Casting")

<class 'str'>
<class 'int'>
<class 'float'>
This is called Casting

In [7]:
#single and double quotes string variable
x="Rohan"
y='Rohan'
print(x,y)

Rohan Rohan

In [ ]:
"""
Camel case
Each word except the fist starts with the capital letter : myVariableNameIs
Pascal case
Each word starts with a capital letter : MyVariableNameIs
Snake Case
Each word is seprated by an underscore : my_variable_name_is

"""

In [ ]:
#many values to many vriables in one line
x,y,z=10,100,1000
print(x,y,z)
#one value to multiple variable
x=y=z=1000
print(x,y,z)

In [ ]:
# Unpacking of the values of the liste or tuples or sets
fruits=['apple','banana','cherry']
x,y,z=fruits
print(x,y,z)

In [ ]:
#unpacking example
mylist=['me','myself','i','mine','to me']
a,b,c,d,e=mylist
print(a,b,"and",c)

In [ ]:
#Python output variable
x="awsome"
y="I am "
print(y+x)
# we can use the + sign to concate two strings

In [ ]:
#Python global variable - variables that are created outside of a function
x= "fun"
def myFunction():
    print('python is '+x)

myFunction()

In [ ]:
x='fun'
def myFun():
    x='cool'
    print('Python is '+x)
myFun()

print('Python is '+x)

In [ ]:
x=100
y=200
z=300
def myFun():
    z=400
    print(x+y+z)
myFun()
print(x+y+z)
print("100 is more in function or the first one because local varibale z is 400 inside the function")

In [ ]:
# Creating global variable inside a function 
x=100
y=100
def gfun():
    global z
    z=100
    print(z+y+x)
gfun()
print(x+y+z)
# notice that global variable z is not directly assigned to 100 , but first initialized as global and then assigned

In [ ]:
x="my name is "
def name():
    global y
    y='Rohan'
    print(x+y)
name()
print("\n"+x+y)

In [ ]:
"""
Python Data Types

Text Type: str
Numberic Types: int, float, complex
Sequence Types: list, Tuple, range
Mapping Type: dict
set type: set,frozenset
BooleanType: bool
Binary Type: bytes, bytearray,memoryview
"""

In [ ]:
#Type convertion, convertion of one type of data to another type
x=1
y=1.1
z=1j
print(type(x))
print(type(y))
print(type(z))
a=float(x)
b=int(y)
print('int changes to float and float to int')
print(type(a))
print(type(b))
print(type(z))

In [ ]:
# Random numbes function
import random
print(random.randrange(1,9))

In [ ]:
print('Random with Function')
def rand():
    print(random.randrange(1,100))
rand()

In [ ]:
#Python Casting , specifying a variable type to a variable.
x=int(1)
y=int(2.9)
z=int("3")
print(x,y,z)
print('all the other data type is converted into int type')

In [ ]:
# in python Strings are arrays , they dont a character data type but have str or array type and takes character as array with 1 length
a="Hello world "
b="c"
print(a,b)
print(a[0])
print(a[1])

In [ ]:
#looping through a string
for x in 'banana':
 print(x)

In [ ]:
# String Length
a="Hello i am Rohan and this is to find Length"
print(len(a))
b="123456 78910"
print(len(b))

In [ ]:
#Check String
a="i feel perfect and active todat from morning 6"
if('feel' in a):
    print('yes')
else:
    print('no')

In [ ]:
a="this is awsome im learning"
print('awsome'in a) 
print('awsome'not in a)
print('rohan'not in a)

In [ ]:
#Slicing String in Python (i mean its same like array right!)
txt="Hello,World"
print(txt[2:6])
print('starts from the position 0 1 \'2\'and ends with 5th position or n-1th position')

In [ ]:
#Slicing from the start
txt="hello,world"
print(txt[:6])

In [ ]:
#Slicing from the End
txt="Hello,World"
print(txt[2:])

In [ ]:
#Negative indexing , fromm back words and it starts from -1
txt="Hello,World"
print(txt[-5:-2])

In [ ]:
#Negative indexing , fromm back words and it starts from -1
txt="Hello,World"
print(txt[-1])

In [ ]:
"""
The index vslues
Index   _R o h a n   R o h a n
        _0 1 2 3 4 5 6 7 8 9 10
Length  _1 2 3 4 5 6 7 8 9 10 11
neg_Ind -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
Space is also consired as a blank or null value as 1 index
"""

In [ ]:
#String Modification
#Upper case of the string
a="Hello,World"
print(a.upper())

In [ ]:
#String Modificstion
#Upper case of the string
a="Hello,World"
print(a.lower())

In [ ]:
#String Modificstion
#Upper case of the string
a="  Hello, World"
print(a.strip())
b="  Hello, World"
print(b)
#The strip function removes the blank space or the space which is at the beginning of the sentance

In [ ]:
#Replacing the String
a="Hello, world"
print(a.replace('H','L'))
print(a.replace('Hello,','Beautiful'))

In [ ]:
#Splitting the string, this method returns a list , where the text becomes the list items within square brackets
a="Hello, World"
b=" i am Rohan"
print(a.split())
print(b.split())

In [ ]:
#using the format mehod to combine both text and numbers
a="Hello i am Rohan or age {1}"
print(a.format(30,21))
print(a.format(10,21,40))
a="Hello i am Rohan or age {}"
print(a.format(21))
back=0
age=21
sem=6
a="Hello i am Rohan or age {} and i am {} semister with {} backs , im lucky!"
print(a.format(age,sem,back))

In [ ]:
#Python escape characters - an escape character is a / - backslash followed by the character you want to insert.
a='Hello this is for \'testing\' the backslash, \b if its working or not \n lala\t haha \nnot and\rlike not'
print(a)

### Python Practicals from class

In [ ]:
# to get binary value
a=60
print(format(a,'b'))
print(format(a,'d'))
print(format(a,'x'))
print(format(a,'o'))
# it gives you the last or the final value in that format 
format(60,'o')

In [ ]:
help(format)
help('FORMATTING')

In [ ]:
# membership operation in boolean is 'in' and 'not in'
a="rohan is in sync"
if 'rohan' in a:
 print("yes") 
a='i' in 'inner world'
print(a)
#because it give the value of the last or the last displayed output
'i' not in 'inner world'

In [ ]:
#Conditional Statements
#one condition(if)
a=100
b=200
if a>b:
    print("a is greater than b")
else:# two condition
    print("b is greate than a")

In [ ]:
#Multi conditon statement
a=100
b=1000
c=200
if a>b and a>c:
    print('a is greater')
elif b>a and b>c:
    print('b is greater')
else:
    print('c is greater')

In [ ]:
# Nested if statement
x=int(input("Enter the value of x :"))
if x>10:
    print("x is greater than 10")
    if x>20:
        print('x is greater than 20')
    else:
        print('x is lesser than 20')
else:

    print('x is less than 10')

In [ ]:
# loops 
fruits=['mango','apple','banana']
print('mango')
for a in fruits:
    print(a)

In [ ]:
#finding square of value in a for loop
list=[1,2,3,4,5,7,10]
for n in list:
    print(n*n*n)

In [ ]:
#Nested for loop
a=['suhasini','sanju','moumi','shreya','meenu','pooja']
b=['rohan','ron','billa']
for x in a:
    for y in b:
        print(x,y)

In [ ]:
#Nested for loop
a=[1,2,3,4,5]
b=[6,7,8,9,10]
for x in a:
    for y in b:
        print(x,",",y)

In [ ]:
# While loop -- a while loop will run the code repeatedly only when the given condition is true:
count=20
while count<=20:
    print("Digit:",count)
    count=count+1
print("Thank you")

In [ ]:
import random
n=20
random_number=int(20*random.random())
while guess!=random_number:
    guess=int(input("Put new number"))
    if guess>0:
        if guess>random_number:
            print("number is large")
        elif guess<random_number:
            print("number is small")
    else:
        print("sorry you are giving up!")
        break
else: # if the guess is equal then it gives a else output as songrags else it enters into the loop to tell weather its big or small
    print("Congrags you have won the game")

In [ ]:
import random
print("The random number guessing game")
c=int(input("Enter the limit of guesing: "))
b=random.randrange(0,c)
while c<=10:
    a=int(input("Enter a number to match random: "))
    if a>0:
      if b==a:
        print("This is mateched !!! :)  you won!")
      elif a>b:
        print("input is greater")
      elif b>a:
        print("imput is smaller")
    else:
      print(" enter a valid number")
      break
else:
      print("the number should be lesser than",c)

In [ ]:
#user defined function or named function
def add(x,y):
 z=x+y
 return z
add(10,20)

In [ ]:
def avg_number(x,y):
    print("the average is ",(x+y)/2)
avg_number(5,10)

In [ ]:
help('lambda')

In [ ]:
def cube(y):
    return y*y*y

g=lambda x:x*x*x

print(g(6))
cube(6)

In [ ]:
g=lambda x:x*x*x
print(g(10))

In [ ]:
#the filter function helps to filter out the condition statement when it satisfies
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
final_list1= list(filter(lambda x:(x%2!=0),list1))
print(final_list1)

# Python String methods

In [ ]:
#capitalize()- converts the first character to Upper case and others to lower case as we see below.
txt="Rohan Rajendra Rohan Rajendra"
x=txt.capitalize()
y=txt.upper()
print(x)
print(y)

In [ ]:
#Casefold() converts string into lower case
x=txt.casefold()
y=txt.lower()
print(x)
print(y)

In [ ]:
#Center Returns to center String with a user defined space
tx="hello"
txt="hello world"
x=tx.center(20,'*')
print(txt)
print(x)
txt='Rohan'
x=txt.center(20)
print(x)
x=txt.center(30,'*')
print(x)
#This will work only for one word like Rohan because its only one word without space

In [ ]:
#Count()- Returnes the number of times a specifiede value appears in string
x=txt.count('o')
print(x)
a='i am Rohan and i repeat that me Rohan wil keep up the Rohan wold Rules and regulations'
print(a.count('Rohan'))
print(a.count('R'))

In [ ]:
#encode() - this method encodes the string using the specific encode , if no encode is specified UTF-* will be used
x=a.encode()
print(x)

In [ ]:
# endswith()- reurens true if the condition is satisfied or else its false
x=a.endswith('s')
print(x)
print(a)
b="hell its a whole word i guess"
y=b.endswith('guess')
print(y)
print("it turen out to be both word and a letter at the end!")

In [ ]:
# expandtabs()- method sets the tab size to the specified number of white space. e.g.,
txt="h\te\tl\tl\to"
x=txt.expandtabs(0)
print(x)
x=txt.expandtabs(1)
print(x)
x=txt.expandtabs(2)
print(x)
x=txt.expandtabs(3)
print(x)
x=txt.expandtabs(4)
print(x)
x=txt.expandtabs(5)
print(x)
x=txt.expandtabs(6)
print(x)

In [ ]:
# find() this function is used to fins the word or letter in the sentance and display it to the monitor as numbers 
# it returns -1 if the value is not found
print(a)
x=a.find('Rohan')
print(x)
z=a.find("rohan")
print(a[x:])

In [ ]:
#Format : this format method formats the specified values and inserts them inside the string placeholder.
txt='For only {price:.2f} dollars!'
print(txt.format(price=99))
print('at first we use : to define and then we use = to equalize the ')

In [ ]:
"""

we use formatting methods like {:,}, {:_}, {:b}, etc..
:< left-align value
:> right-align value
:^ center align value
:= to place plus and minus sign at the most position
:+ to indicate of the number is positive
:- to use - sign for negative values
: to use space before positive num
:, use ',' to seprate like comma and thousand seprators, we can also use '_'
:b binary format or ,'b'
:c to convert the character into corresponding unicode character
:d Decimal format
:e scientific number format
:E scientific number format uppercase
:F fixed position number format
:g general format
:G general format using a copper case E for scientific notation
:o octal format
:X HEX FORMAT
:n number format
:% for percentage

In [ ]:
'''
Python String part-2
The index method finds the first occurence of the specified value.
The index() method is almost same as the find method, the only difference is that find method reurns -1 if string not found
syntax:
'''
txt="Hello, Welcome to my world"
x=txt.index("Welcome")# This is the proper output file
print(x)
y=txt.index("text") # this is the error file
print(y)

In [ ]:
# Syntax 2 :  
'''
string.index(value,start,end)

Some of the other operations on the string are
isalnum() -checks if alphanumeric
isalpha() - checks if alphabet or not
isdecimal()- checks if its decimal or not
isdigit()- Checks if the value is digit or not
isidentifier()- checks of the identifier is valid or not(alphanumeric and undescore '_')
islower()- to check if its in lowercase or not
isupper()-upper or not
isnumeric()-if numeric true
isprintable()-if strings are printable
isspace()-returns true if all the characters are white space.
istitle()-reurns true if all words in the in the text Starts with the upper case letter(e.g., This Is Good )

'''

In [ ]:
#JOIN METHOD
mytuple=("john","peter","Vicky")
x='#'.join(mytuple)
y=''.join(mytuple)# if we give space it will join with the space
print(x)
print(y)
print('This works only when the # symbol is present before the . joint e.g., x=quote #quote .join(mytuple)')

In [ ]:
mydict={'name':'Rohan','Country':'India','planet':'Earth'}
x='-myseprator-'.join(mydict)
print(x)

In [ ]:
#ljust()=method will left align the string,using a specified character(space is defalut) as the fill character.
txt='banana'
x=txt.ljust(20,'0')
print(x)
x=txt.rjust(13,' ')
print(x)
x=txt.rjust(20,'0')
print(x)

In [ ]:
#lstrip()-method removes any leading character( space is a leading charater)
txt=',,,, ,,,, ssaaww........banana ,'
x=txt.lstrip(' ,.a ,sw ')
print(x)
text='Rohan this is my programming journey'
y=text.lstrip('Rohan journey')
print(y)

In [ ]:
txt="Rohan and Jeander"
a=txt.maketrans('J','O')
print(a)
print(txt.translate(a))
#The translation allows the variables to change according to the listed variable
#Therefore there are first initializationa nf then there is translation

In [ ]:
txt='Hi sam!'
x="mas"
y="oej"
mytable=txt.maketrans(x,y)
print(txt.translate(mytable))
#after maketrans we use translate to change the values or convert into strings

In [ ]:
txt="Good night Rohan"
x="vinod"
y="Rohan"
b=txt.maketrans(x,y)
print(txt.translate(b))

In [ ]:
txt='Good night sam'
x='msa'
y='ejo'
z='odnight'
mytable=txt.maketrans(x,y,z)
print(txt.translate(mytable))

In [ ]:
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

In [ ]:
#zfill()- it replaces the specific value(0) until the string returns to the specific position
txt="50"
x=txt.zfill(10)
print(x)
print(txt.zfill(20))

# Python List/Array methods

In [ ]:
#python boolean function either zero or one (True or False)
print(10>9)
print(5<10)
print(10==10)
print(5!=5)

In [ ]:
#when you run a Condition in an if statement, python returns True or False
a=200
b=33
if b>a:
    print('b')
else:
    print('a')

In [ ]:
#Almost any value is evaluated to ' True ' if it has some sort of content (any String,Number,list,tuple,set and Dictionary are True, except empty ones)
print(bool("abc"))
print(bool(123))
print(bool(['apple','Cherry','Banana']))

In [ ]:
#Function can return a boolean value
def myFunction():
    return True

print(myFunction())
#the true here is in the capital True , the T is upper case

In [ ]:
#Is instant function helps to give the boolean value to the related guess or e.g., isinstance()
x=200
print(isinstance(x,int))
print(isinstance(x,float))


# Python Operators

In [ ]:
#Operators are used to perform operations on variable and values.In the example below, we use the + operator to add together two values:
'''
Python arthematic operator: +,-,*,/,%,**,//
python assignment operators: =, +=, -=, /=, %= // =, **=, &=,1=,^=,>>=,<<=,<=,>=
python comparision operator: ==, !=, > , < , >=, <=
Python logical operator: and, or, not
Python identifier operator : is, is not
Python Bitwise operator : & AND , ^ XOR , | OR  , ~ Not , << Zero fill left , >> Zero fill right
'''

# Lists

In [ ]:
"""
Lists are used to store multiple items in a single variable, Lists are one of 4 built in data types in python used to sote and collect the data
The other three mare the Tuple,Sets and Dictionary
Lists are created using the Square brackets [ ] or the keyword list e.g., thelist=list(("apple","banana","mango"))- remember 2 brackets with list in front of them
The list is changable
Allows duplicates-Since there are index, lists can have items with the same value
Lists can contain any data types
"""

In [ ]:
mylist=["apple","banana","cherry","mango"]
print(mylist)

In [ ]:
thelist=list(("apple","banana","cherry","mango"))
print(thelist)

In [ ]:
#Accessing list items
mylist=['Rohan',"Rohan1",'Rohan2','Rohan3','Rohan4']
print(mylist)
print(mylist[-1])
print(mylist[1])
print(mylist[0]);
print(mylist[:4])
print(mylist[3:])

In [ ]:
#Range of index
print(mylist[1:3])
print("n-1 : to the same property of the list as index values")

In [ ]:
print(mylist)
#inserting values into the list 
mylist.insert(2,"rohan!")# For insert we have to use the index to specify the position 
print(mylist)
mylist.append("Rohan!-append")
print(mylist)

# Programs

In [ ]:
print("hello world")

In [ ]:
a=input("Enter the fist number: ")
b=input("Enter the second number: ")
add=float(a)+float(b)
sub=float(b)-float(a)
div=float(a)%float(b)
mul=float(a)*float(b)
print('The addition of number {0} and {1} is {2}'.format(a,b,add))
print('The Subraction of number {0} and {1} is {2}'.format(a,b,sub))
print('The division of number {0} and {1} is {2}'.format(a,b,div))
print('The multiplication of number {0} and {1} is {2}'.format(a,b,mul))

In [ ]:
#area of a triangle
a=int(input("enter the side a: "))
b=int(input("enter the side b: "))
c=int(input("enter the side c: "))
s=(a+b+c)/2;
area=(s*(s-a)*(s-b)*(s-c))**0.5
print('Area of a triangle is {}'.format(area))
print("Area of a triangle is %0.2f"%area)

In [ ]:
#Quadratic equation-  ax**2+bx+c=0
import cmath
a=float(input("Enter the value of a: "))
b=float(input("Enter the value of b: "))
c=float(input("Enter the value of c: "))
d=(b**2)-(4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)  
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

In [ ]:
# Quadratic Equation other method
import math

def roots(a,b,c):
    d=(b**2)-(4*a*c)
    q=math.sqrt(abs(d))
    
    if d>0:
        print((-b+q)/(2*a))
        print((-b-q)/(2*a))
    elif d==0:
        print("real and same root")
        print(-b/(2*a))
    else:
        print("complex root")
        print(-b/(2*a),"+i",q)
        print(-b/(2*a),"-i",q)
a=int(input("Enter the a value: "))
b=int(input("Enter the b value: "))
c=int(input("Enter the c value: "))

if a<0:
              print("Enter the valid equation")
else:
    roots(a,b,c)

In [ ]:
#Swaping two variables
a=10
b=20
a,b=b,a
print(a,b)

In [ ]:
#To generate Random numbers
import random
print(random.randrange(0,100))
print(random.random())
print(random.randint(0,100))

In [ ]:
#To Generate Random list items
import random
rand_list=[]
for i in range(0,10):
    n=random.randint(0,100)
    rand_list.append(n)
print(rand_list)

In [ ]:
# To generate five and 6 random numbers using random
import random
m=random.sample(range(0,100),5)
n=random.sample(range(0,100),6)
print(m)
print(n)

In [ ]:
option=str(input("Enter the option \n\n1.kilometer to miles\n2.miles to kilometer\n"))
if option=='1':
    kl=float(input("Enter the Kilometer to convert to Miles: "))
    ml=kl*0.62137
    print(ml,"miles")
elif option=='2':
    ml=float(input("Enter the Miles to convert to Kilometer: "))
    kl=ml/0.62137
    print(kl,"kilometers")
else:print("Select the correct option")

In [ ]:
#Converting Celcious to Fahrenheit
while(True):
    c=float(input("Enter the celcious to convert: "))
    f=c*(9/5)+32
    print("%0.2f fahrenheit"%f)

In [ ]:
import calendar
mm=int(input("Enter the month of the year in mm format"))
yy=int(input("Enter the year in the year in yyyy format"))
print("calendar")
print(calendar.month(yy,mm))

In [ ]:
#negative or positive number
while(True):
    number=float(input("Enter the number to check"))
    if number<0:
        print("negative number :",number)
    elif number>0:
        print("Positive number :",number)
    else:print("The number is \'0\'")

In [ ]:
def numchk(number): 
        if number<0:
            print("negative number :",number)
        elif number>0:
            print("Positive number :",number)
        else:print("The number is \'0\'")
number=float(input("Enter the number to check"))
numchk(number)

In [ ]:
#checking the leap year
while(True):
    num=int(input("Enter the year to check :"))
    if num%400==0 or num%100!=0 and num%4==0:
 
        print("It is a leap Year")
    else:print("It is not a leap year")

In [ ]:
#Leap year using functions
def leap_year(year):
    if ((year%400==0) or (year%100!=0) and (year%4==0)):
        print("it is a leap year")
    else:print("not a leap year")
year=int(input("Enter the Year: "))
leap_year(year)

In [ ]:
#Prime number or not
def primenum(num):
    if num>0:
        for i in range(2,int(num/2) + 1):
            if num%i==0:
                print(num,"not a prime number ")
                break
        else:print(num,"is a Prime number")
num=int(input("Enter the number to Check: "))

primenum(num)

In [ ]:
# prime number in an interval
startnum=int(input("Enter the start number : "))
endnum=int(input("Enter the end number : "))
for num in range(startnum,endnum+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:print(num)

In [ ]:
#Factorial of a number
num=int(input("Enter the numbr : "))
factorial=1
if num>0:
    for i in range(1,num+1):
        factorial=factorial*i
print(factorial)

In [ ]:
import math  
def fact(n):  
    return(math.factorial(n))  
  
num = int(input("Enter the number:"))  
f = fact(num)  
print("Factorial of", num, "is", f)

In [ ]:
#Multiplication table
for i in range(0,11):
    a=1*i
   #b=2*i
    print("1 *",i,'=',a)
   #print("2 *",i,"=",b)

In [ ]:
#Multiplication table using while loop
num=int(input("Enter the numbre you want to get the tables : "))
count=1
while count<=10:
    print(count,"X",num,'=',num*count)
    count+=1

In [ ]:
end=int(input("Enter the end count number : "))
n1=0
n2=1
count=1
if end<=0:
    print("Enter the number greater than 0 and 1")
elif end==1:
    print("Enter the proper number above 1")
else:
    while count<=end:
        print(n1)
        num=n1+n2
        n1=n2
        n2=num
        count+=1
print('etc..')

In [ ]:
#Armstring number
num=int(input("Enter the number: "))
temp=num
sum=0
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if sum==num:print("Armstring no")
else:print("not a Armstring no")

In [ ]:
#Aremstrong number between an interval
interval=int(input("Enter the range of interval: "))
for i in range(1,interval):
    sum=0  
    temp=i
    while temp>0:
        digit=temp%10
        sum+=digit**3
        temp//=10
        if sum==i:
            print(i)
print("The end ")

In [ ]:
#Sum of natural numbers - for loop
num=int(input("Enter the number to get the sum of natural numbers :"))
sum=0
for i in range(0,num+1):
        sum+=i
print(sum)

In [ ]:
num=int(input("Enter the number to get the sum of natural numbers :"))
sum=1
count=1
while count<=num:
        sum+=count
        count+=1
print(sum-1)

# Learning NumPy

In [ ]:
import numpy
arr=numpy.array([1,2,4,5,7,8,9,6,3])
mylist=[1,2,4,5,7,8,9,6,3]
print(arr)
print(mylist)
#in lists there is ',' where as in numpy array there is no commas for numbers , if you observe and its near to each other , space is less

In [ ]:
import numpy as np
arr=np.array([1,3,4,5,7,8,9])
print(arr)
print(np.__version__)

In [ ]:
#Creating arrays
import numpy as np
arr=np.array([1,2,3,4,5,6])
print(arr)
print(np.__version__)
print(type(arr))

In [ ]:
# 0D -array
import numpy as np
arr=np.array(50)
print(arr)
print(arr.ndim)

In [ ]:
import numpy as np
arr=np.array([1,2,3,4,5])
print(arr)
print(arr.ndim)

In [ ]:
import numpy as np
arr=np.array([[1,2,3,4,5],[2,3,4,5,6]])
print(arr)
print(arr.ndim)

In [ ]:
import numpy as np

arr = np.array([[[1, 2, 3], [4, 5, 6],[2,3,4,],[6,7,8]]])

print(arr)
                
print(arr.ndim)

In [ ]:
import numpy as np
a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])
print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)

In [ ]:
import numpy as np

a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])
e=np.array([[[[[1,2,3]]]]])
f=np.array([1,2,3,4,5,6],ndmin=6)
print(a.ndim)
print(b.ndim)
print(c.ndim)
print(d.ndim)
print(e.ndim)
print(f.ndim)

In [ ]:
#To print the number vertically and without space in between them 
if __name__ == '__main__':
    n = int(input())
    for i in range(1,n+1):
        print(i,end="")

In [ ]:
import re
for _ in range(int(input())):
    ans = True
    try:
        reg = re.compile(input())
    except re.error:
        ans = False
    print(ans)

In [ ]:
#Regular Expression in Python
import re
MyPara="""Rohan is 22 and Vinoad is 24 and Leander is 22 and you know Jack is 100 and finally this is  and  Jill is 99 """
age=re.findall(r'\d{1,3}',MyPara)
name=re.findall(r'[A-Z][a-z]*',MyPara)
Dict={}
ag=0
for eachname in name:
    Dict[eachname]=age[ag]
    ag+=1
print(Dict)

In [ ]:
import re
MyPara="""Rohan is a goog person of age 22 and he has friends Vinoad of age 24 and Leander of age 22 and all are good"""
age=re.findall(r'\d{1,3}',MyPara)
name=re.findall(r'[A-Z][a-z]*',MyPara)
Dict={}
ag=0
for eachname in name:
     Dict[eachname]=age[ag]
     ag+=1
print(Dict)

In [ ]:
#NumPy Array Indexing
import numpy as np
arr=np.array([1,2,3,4,5])
print(arr[0])

In [ ]:
import numpy as np
arr=np.array([1,2,3,4,5,6,7,8])
print(arr[2]+arr[3])

In [ ]:
import numpy as np
arr=np.array([[1,2,3,4,5,], [6,7,8,9,10]])
print(arr)
print("accessing array element 2D :",arr[1,4])

In [ ]:
import numpy as np
arr=np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
print(arr)
print(arr[0,1,1])
print(arr[1,-1])
print(arr[0,-2])

In [ ]:
#numpy array string slicing
import numpy as np
arr=np.array([1,2,3,4,5,6,7,8,9,10])
print(arr[1:5])
print(arr[:4])
print(arr[4:])
print(arr[-3:-1])

In [ ]:
import numpy as np
arr=np.array([1,2,3,4,5,6,7,8,9,10])
print(arr[::2])
print(arr[2::])
print(arr[4::])

In [ ]:
import numpy as np
arr=np.array([1,2,3,4,5,6,7,8,9,10])
print(arr.dtype)

# Revision

In [1]:

print("Hello, world!")

Hello, world!

In [8]:

    print(5>2)
    print(5<3)

True
False

In [9]:
# single line comment  
""" multi
    line comment
    for many lines """

' multi\n    line comment\n    for many lines '

In [10]:
x=5
y=10
print(x,y)

5 10